footer {
  background-color: $colorPrimario;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  .wrapper {
    @include safe-area;

    width: 100%;

    #contact {
      align-items: center;
      display: flex;
      justify-content: space-between;
      height: 150px;
      width: 100%;

      figure {
        align-items: center;
        display: flex;
        height: 64px;
        margin: 0;
        width: 120px;
      }

      p {
        text-align: left;
      }

      #author-policy {
        width: 250px;
      }

      #contact-email {
        width: 250px;
      }

      ul {
        display: flex;
        padding: 0;

        li {
          align-items: center;
          border: 2px solid $white;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          height: 40px;
          margin-right: 1rem;
          width: 40px;

          a {
            @include text-bold();

            color: $colorPrimario;
            font-size: 14px;
            text-decoration: none;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    #copy {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
    }
  }

  @media only screen and (max-width : 600px) {

    .wrapper {

      #contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        margin-top: 12px;
        margin-bottom: 12px;

        #contact-email {
          text-align: center;
        }
      }
    }
  }
}
